/* styles.css */

.table-container {
  margin: 20px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 1px solid #dddddd;
  padding: 10px;
}

.table-container th {
  background-color: #f2f2f2;
}

/* Adiciona borda inferior para células dentro do tbody */
.table-container tbody td {
  border-bottom: 1px solid #dddddd;
}
